*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
  display: grid;
  place-items: center;
  font-family: "Manrope", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}
